In [15]:
import pandas as pd

In [16]:
# (1) Используя параметры pandas прочитать красиво пандас 
df = pd.read_csv ('UCI_Credit_Card.csv')

In [17]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [38]:
df.info()

# (2) выведите, что за типы переменных, сколько пропусков,- переменные int и float.dtypes: float64(13), int64(12) Пропусков нет.
# для численных значений посчитайте пару статистик (в свободной форме)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null float64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null float64
BILL_AMT2                     30000 non-null float64
BILL_AMT3                     30000 non-null float64
BILL_AMT4                     30000 non-null float64
BILL_AMT5                     30000 non-null float64
BILL_AMT6                     30000 non-null float64
PAY_AMT1                      30000 non-null float64
PAY_AMT2                      30000 non-null float64
PAY_AMT3                      30000 non-null float64
PAY_AMT4                      30000 non-null float64
PAY_AMT5                      30000 non-null float64
PAY_AMT6                      30000 non-null float64
default.payment.next.month    30000 non-null int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [39]:
df['EDUCATION'].describe()

count    30000.000000
mean         1.853133
std          0.790349
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          6.000000
Name: EDUCATION, dtype: float64

In [48]:
df['default.payment.next.month'].describe()

count    30000.000000
mean         0.221200
std          0.415062
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: default.payment.next.month, dtype: float64

In [44]:
# (3) посчитать число женщин с университетским образованием
# SEX (1 = male; 2 = female). 
# EDUCATION (1 = graduate school; 2 = university; 3 = high school; 4 = others). 

# 8656 - женщин

In [49]:
df[(df['SEX'] == 2) & (df['EDUCATION'] == 2)]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
7,8,100000.0,2,2,2,23,0,-1,-1,0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
12,13,630000.0,2,2,2,41,-1,0,-1,-1,...,6500.0,6500.0,2870.0,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,0
21,22,120000.0,2,2,1,39,-1,-1,-1,-1,...,0.0,632.0,316.0,316.0,316.0,0.0,632.0,316.0,0.0,1
22,23,70000.0,2,2,2,26,2,0,0,2,...,44006.0,46905.0,46012.0,2007.0,3582.0,0.0,3601.0,0.0,1820.0,1
33,34,500000.0,2,2,1,54,-2,-2,-2,-2,...,7521.0,71439.0,8981.0,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,0
37,38,60000.0,2,2,2,22,0,0,0,0,...,6026.0,-28335.0,18660.0,1500.0,1518.0,2043.0,0.0,47671.0,617.0,0
43,44,140000.0,2,2,1,37,0,0,0,0,...,64280.0,67079.0,69802.0,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,0
52,53,310000.0,2,2,1,49,-2,-2,-2,-2,...,11185.0,3544.0,464.0,7875.0,7600.0,11185.0,3544.0,464.0,0.0,0
57,58,180000.0,2,2,1,34,0,0,0,0,...,168608.0,132202.0,129918.0,8083.0,7296.0,5253.0,4814.0,4816.0,3800.0,0
59,60,400000.0,2,2,1,29,0,0,0,0,...,360199.0,356656.0,364089.0,17000.0,15029.0,30000.0,12000.0,12000.0,23000.0,0
63,64,50000.0,2,2,1,46,0,0,0,-2,...,0.0,0.0,0.0,1000.0,0.0,0.0,0.0,0.0,0.0,1
64,65,130000.0,2,2,1,51,-1,-1,-2,-2,...,0.0,2353.0,0.0,0.0,0.0,0.0,2353.0,0.0,0.0,0
72,73,200000.0,2,2,1,32,-1,-1,-1,-1,...,5247.0,3848.0,3151.0,5818.0,15.0,9102.0,17.0,3165.0,1395.0,0
78,79,30000.0,2,2,2,22,0,0,0,0,...,28004.0,26446.0,6411.0,1686.0,1400.0,560.0,3000.0,1765.0,0.0,1
79,80,240000.0,2,2,2,44,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
83,84,400000.0,2,2,1,44,0,0,2,0,...,104430.0,104990.0,94058.0,10700.0,3.0,3050.0,3000.0,3200.0,2800.0,0
87,88,160000.0,2,2,2,32,0,0,0,0,...,8604.0,7072.0,766.0,1147.0,2000.0,2000.0,0.0,766.0,2303.0,0
93,94,160000.0,2,2,1,37,-1,-1,-1,-1,...,840.0,0.0,0.0,1602.0,840.0,840.0,0.0,0.0,7736.0,0
94,95,60000.0,2,2,2,23,0,0,0,0,...,19595.0,19209.0,19323.0,1937.0,1301.0,682.0,690.0,816.0,835.0,0
104,105,60000.0,2,2,2,26,2,2,2,2,...,60218.0,55447.0,55305.0,0.0,5000.0,2511.0,6.0,3000.0,3000.0,0
105,106,70000.0,2,2,2,24,-1,-1,-2,-2,...,0.0,0.0,26529.0,0.0,0.0,0.0,0.0,26529.0,2000.0,0
106,107,80000.0,2,2,1,36,-1,-1,-1,-1,...,3319.0,1150.0,1150.0,2861.0,3279.0,3319.0,1150.0,1150.0,1035.0,0
119,120,240000.0,2,2,2,38,0,0,0,0,...,52479.0,1307.0,1203.0,2000.0,3000.0,3000.0,1307.0,1203.0,563.0,0
123,124,310000.0,2,2,1,35,2,0,0,0,...,258610.0,246491.0,198889.0,13019.0,11128.0,8407.0,8599.0,6833.0,5987.0,1
134,135,30000.0,2,2,2,22,0,0,0,0,...,25350.0,17603.0,-780.0,2000.0,1400.0,0.0,500.0,0.0,1560.0,0
137,138,210000.0,2,2,1,33,0,0,0,0,...,9189.0,4404.0,5708.0,1500.0,1500.0,1000.0,500.0,2000.0,546.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29093,29094,330000.0,2,2,2,59,0,0,0,0,...,80589.0,76180.0,61693.0,20000.0,3500.0,19000.0,15000.0,3000.0,2139.0,0
29099,29100,50000.0,2,2,1,50,0,0,0,0,...,41941.0,39643.0,39273.0,1848.0,2194.0,1842.0,1544.0,1396.0,1420.0,0
29101,29102,80000.0,2,2,2,56,0,0,0,0,...,50415.0,45859.0,43152.0,2000.0,2000.0,2000.0,2007.0,1600.0,1900.0,0
29102,29103,180000.0,2,2,1,58,-2,-2,-2,-2,...,1576.0,1504.0,0.0,0.0,750.0,1576.0,1504.0,0.0,1000.0,0
29103,29104,60000.0,2,2,2,51,0,0,0,0,...,19033.0,20793.0,23530.0,2065.0,2000.0,2000.0,2000.0,3000.0,3000.0,0
29107,29108,50000.0,2,2,1,51,1,2,2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
29113,29114,30000.0,2,2,1,54,0,0,0,0,...,30149.0,27028.0,29261.0,2000.0,4501.0,2396.0,4000.0,3076.0,1068.0,1
29115,29116,20000.0,2,2,1,59,3,2,3,2,...,11201.0,12721.0,11946.0,2800.0,0.0,1000.0,2000.0,0.0,0.0,1
29117,29118,140000.0,2,2,1,56,0,0,0,0,...,82800.0,16800.0,5367.0,5000.0,5000.0,4132.0,16800.0,5367.0,2000.0,0
29120,29121,400000.0,2,2,2,50,-1,-1,2,-1,...,129.0,3170.0,657.0,4359.0,0.0,129.0,3170.0,657.0,1160.0,0
29123,29124,50000.0,2,2,1,54,0,0,0,0,...,47921.0,17125.0,16686.0,2000.0,2045.0,1466.0,600.0,604.0,608.0,0
29127,29128,80000.0,2,2,1,52,1,2,2,2,...,74172.0,68002.0,58032.0,0.0,7000.0,4007.0,0.0,3000.0,3000.0,0
29129,29130,30000.0,2,2,2,52,0,0,0,0,...,23208.0,21822.0,16624.0,1340.0,2000.0,1800.0,0.0,641.0,463.0,0
29135,29136,130000.0,2,2,2,52,0,0,0,0,...,116530.0,113962.0,113972.0,6000.0,5000.0,4214.0,4500.0,5000.0,4200.0,0
29137,29138,330000.0,2,2,1,51,0,0,0,2,...,184986.0,173688.0,164579.0,10000.0,10500.0,8000.0,6000.0,6000.0,6000.0,0
29138,29139,70000.0,2,2,1,51,2,2,2,2,...,45772.0,46611.0,47508.0,2100.0,2000.0,1900.0,1900.0,1800.0,1900.0,1
29142,29143,80000.0,2,2,2,52,0,0,0,0,...,55119.0,45630.0,45630.0,2990.0,3714.0,1500.0,1000.0,0.0,0.0,0
29144,29145,20000.0,2,2,1,51,0,0,0,0,...,14427.0,14894.0,15112.0,2300.0,1300.0,1300.0,700.0,600.0,600.0,0
29147,29148,350000.0,2,2,1,56,-2,-2,-2,-2,...,9399.0,10477.0,10775.0,14515.0,13316.0,9446.0,10529.0,10829.0,12876.0,0
29148,29149,360000.0,2,2,1,56,-1,-1,-1,-2,...,-7.0,-7.0,-7.0,2385.0,0.0,0.0,0.0,0.0,0.0,0
29150,29151,360000.0,2,2,1,61,2,0,0,0,...,260113.0,263229.0,268446.0,13869.0,11644.0,12307.0,9474.0,9662.0,9794.0,1
29155,29156,20000.0,2,2,1,59,1,2,0,0,...,20000.0,0.0,0.0,0.0,1700.0,3000.0,0.0,0.0,0.0,1
29160,29161,20000.0,2,2,2,53,2,4,4,3,...,18547.0,19118.0,18679.0,1500.0,0.0,1300.0,1170.0,0.0,1600.0,0
29162,29163,100000.0,2,2,2,56,-2,-1,2,-1,...,390.0,3863.0,390.0,780.0,0.0,390.0,3863.0,390.0,390.0,0
29164,29165,170000.0,2,2,2,53,-2,-2,-2,-2,...,500.0,0.0,487.0,605.0,826.0,550.0,0.0,487.0,0.0,0
29170,29171,60000.0,2,2,2,53,1,2,0,0,...,10226.0,12041.0,11704.0,0.0,1000.0,1226.0,2000.0,0.0,1100.0,1
29174,29175,300000.0,2,2,1,53,-2,-2,-2,-2,...,7733.0,7733.0,7733.0,7424.0,8351.0,7733.0,7733.0,7733.0,7733.0,0
29176,29177,240000.0,2,2,1,56,3,2,2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
29179,29180,500000.0,2,2,1,73,-2,-2,-2,-2,...,2835.0,8896.0,3850.0,2826.0,2652.0,2835.0,8896.0,3850.0,711.0,1
29180,29181,140000.0,2,2,1,60,2,2,0,0,...,114789.0,115590.0,118221.0,0.0,5600.0,6000.0,4200.0,4500.0,4600.0,1

In [50]:
# (4) Сгрупировать по "default payment next month" и посчитать медиану для всех показателей начинающихся на BILL_ и PAY_
#TOD

In [65]:
df[['PAY_0','PAY_2','default.payment.next.month','PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6','PAY_2','PAY_3','PAY_4','BILL_AMT4','BILL_AMT5','BILL_AMT6']].groupby('default.payment.next.month').median()

,PAY_0,PAY_2,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,PAY_2,PAY_3,PAY_4,BILL_AMT4,BILL_AMT5,BILL_AMT6
default.payment.next.month,,,,,,,,,,,,,,
0,0,0,2459.5,2247.5,2000.0,1734.0,1765.0,1706.0,0,0,0,19000.0,17998.0,16679.0
1,1,0,1636.0,1533.5,1222.0,1000.0,1000.0,1000.0,0,0,0,19119.5,18478.5,18028.5

In [74]:
# (5) постройте сводную таблицу (pivot table) по SEX, EDUCATION, MARRIAGE

df.pivot_table ('SEX','EDUCATION', 'MARRIAGE')

MARRIAGE          0         1         2         3
EDUCATION
0               NaN  1.500000  1.400000       NaN
1          1.750000  1.545943  1.613306  1.400000
2          1.833333  1.653610  1.581197  1.611111
3          1.727273  1.633695  1.531692  1.650485
4               NaN  1.653846  1.661765  1.666667
5               NaN  1.680000  1.637795  1.666667
6               NaN  1.500000  1.476190  2.000000

In [10]:
Создать новый строковый столбец в data fram
# (6) e-е, который:
# принимает значение A, если значение LIMIT_BAL <=10000
# принимает значение B, если значение LIMIT_BAL <=100000 и >10000
# принимает значение C, если значение LIMIT_BAL <=200000 и >100000
# принимает значение D, если значение LIMIT_BAL <=400000 и >200000
# принимает значение E, если значение LIMIT_BAL <=700000 и >400000
# принимает значение F, если значение LIMIT_BAL >700000

#TODO

In [1]:
%matplotlib inline

In [12]:
# (7) постироить распределение LIMIT_BAL (гистрограмму)

In [13]:
df #TODO

NameError: name 'df' is not defined

In [ ]:
# (8) построить среднее значение кредитного лимита для каждого вида образования 
# и для каждого пола
# график необходимо сделать очень широким (на весь экран)
df #TODO

In [ ]:
# (9) построить зависимость кредитного лимита и образования только для одного из полов

#TODO

In [ ]:
# (10) построить большой график (подсказка - используя seaborn) для построения завимисости всех возможных пар параметров
# разным цветом выделить разные значение "default payment next month"
# (но так как столбцов много - картинка может получиться "монструозной")
# (поэкспериментируйте над тем как построить подобное сравнение параметров)
# (подсказка - ответ может состоять из несколькольких графиков)
# (если не выйдет - программа минимум - построить один график со всеми параметрами)
import seaborn

#TODO